.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.layout {
  padding-top: 2%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

mat-form-field {
  width : 80% ;
  margin-left: 10%;
  margin-right: 10%;
}

mat-error {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
button{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top :10px ;
}

